<h1>List of all roles</h1>
<hr>
  <%= link_to "Create new role", @role, new_role_path %>
<hr>
<table>
  <thead>
    <th>ID</th>
    <th>Actor</th>
    <th>Movie</th>
    <th>Character</th>
    <th>Movie details</th>
  </thead>
  <tbody>
    <%  %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
